.ICEauthority
.IntelliJIdea14/
.Xauthority
.aptitude/
.bash/
.bash_history
.bash_logout
.byebug_hist
.cache/
.cinnamon/
.config/
.dbus/
.dmrc
.fonts/
.gconf/
.gem/
.gitconfig
.gksu.lock
.gnome/
.gnome2/
.java
.lesshst
.linuxmint/
.local/
.m2/
.macromedia/
.mozilla/
.mysql
.npm/
.oracle_jre_usage/
.pam_environment
.pgadmin3
.pgadmin_histoqueries
.pgpass
.pip/
.pki/
.profile
.psql_history
.qgis2/
.rbenv/
.slocdata/
.ssh/
.vim/
.viminfo
.xinputrc
.xsession-errors
Downloads/
Pictures/
code/
docs/
export.sh
igv/
pgadmin.log
tmp/
