.ICEauthority
.IntelliJIdea14/
.Xauthority
.aptitude/
.bash/
.bash_history
.bash_logout
.byebug_hist
.cache/
.cinnamon/
.config/
.dbus/
.dmrc
.emacs.d/auto-save-list/
.fonts/
.gconf/
.gem/
.gimp-2.8/
.gitconfig
.gksu.lock
.gnome/
.gnome2/
.gnupg/
.gradle/
.grails/
.grails_history
.hplip/
.java
.jrubyrc
.lesshst
.linuxmint/
.local/
.m2/
.macromedia/
.mozilla/
.mysql
.npm/
.oracle_jre_usage/
.pam_environment
.passenger/
.pgadmin3
.pgadmin_histoqueries
.pgpass
.pip/
.pki/
.profile
.psql_history
.python_history
.qgis2/
.rbenv/
.sdkman/
.slocdata/
.ssh/
.thumbnails/
.thunderbird/
.vim/
.viminfo
.xinputrc
.xsession-errors
.zshrc
Downloads/
Pictures/
code/
docs/
export.sh
igv/
pgadmin.log
tmp/
