.ICEauthority
.Xauthority
.bash/
.bash_history
.bash_logout
.cache/
.cinnamon/
.config/
.dbus/
.dmrc
.gconf/
.gitconfig
.gnome2/
.lesshst
.linuxmint/
.local/
.m2/
.mozilla/
.pki/
.profile
.ssh/
.vim/
.viminfo
.xsession-errors
Downloads/
code/

